__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/info/exclude
.pytest_cache/
.hypothesis/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
.env.local
.env.dev
.env.prod
.env.backup
*.env
.envs
.pyre/
.pytype/
cython_debug/
*.tmp
*.swp
.vscode/
.idea/
.DS_Store
Thumbs.db
.DS_Store?
._*
staticfiles/
local_settings.py
db.sqlite3
db.sqlite3-journal
*.sage.py
atlassian-ide-plugin.xml
webapplication.xml